.FM-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--trkwaz-color);
    position: absolute;
    top: 50%;
}
.FM-title-left::after {
    left: 30px;
    transform: translate(-50% , 45px);
}
.FM-title-center::after {
    left: 50%;
    transform: translate(-50% , 35px);
}