* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  --trkwaz-color: #3fbbc0;
  --off-white-bg: #f7fcfc;
}
.FM-icon {
  color: var(--trkwaz-color);
}
.FM-icon-circle {
  width: 80px;
  height: 80px;
}
.FM-icon-contact {
  border: 2px dotted var(--trkwaz-color);
}
.FM-font-size {
  font-size: 0.8rem !important;
}
.FM-input:focus {
  outline-color: var(--trkwaz-color);
}
.FM-map {
  width: 100%;
  height: 350px;
}
.FM-contact-card {
  min-height: 500px;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: var(--trkwaz-color) !important;
}